html {
	font-family: 'PT Sans', sans-serif;
}

.wrapper {
    width: 100%;
	height: 100%;
    margin: 0 auto;
    padding: 0;
}

.header {
	width: 100%;
	height: 40%;
	background-color: #ffffff;	
}

.logo img {
	margin: 5px;
}


.left_col div {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

.name_main {
	color: #0e334f;
	font: 18px Arial;
	font-weight: bold;
	text-decoration: none;
}

.logo_main a:hover {
	color: #e84824;
}

.main {
	color: #0e334f;
	font: 18px Arial;
	padding: 5px;
	margin: 0;
	text-decoration: none
}

.right_col a:hover {
	color: #e84824;
}
 
.logo_name a:hover {
	color: #0e334f;
}

.left_col {
	float: left;	
}

.left_col div {
	padding-left: 20px;
}

.right_col {
	float: right;
	box-sizing: border-box;
	display: inline-block;
}

.link {
	width: 450px;
	padding-top: 20px; 
    text-align: center; 
    display: inline-block;   
}
.clear {
    clear: both;
}

.link :before { 
	display: inline-block;
	background: url('../images/sprite.png') no-repeat;
	overflow: hidden; 
	text-indent: -9999px;  
	content: '';
	text-align: left;  
}

.icon_1:before {background-position: -0px -333px; width: 23px; height: 23px;}
.icon_2:before {background-position: -0px -289px; width: 24px; height: 22px;}
.icon_3:before {background-position: -0px -379px; width: 23px; height: 17px;}

.icon_1:hover:before {background-position: -0px -356px; width: 23px; height: 23px;}
.icon_2:hover:before { background-position: -0px -311px; width: 24px; height: 22px;}
.icon_3:hover:before {background-position: -0px -396px; width: 23px; height: 17px;}

.link2 img {
	vertical-align: top;
}

.link a {
	text-transform: uppercase;
	color: #909aa4;
	font: 12px Arial;
	padding: 5px;
	text-decoration: none;
}

.link sup {
	border: 0px solid #ff1118;
	background-color: #ff1118;
	border-radius: 10px;
	color: #ffffff !important;
	font-size: 12px;
}

.link2 a {
	position: relative;
	z-index: 1;
}

.link3 sup {
	padding: 2px 3px 2px 3px;
	position: absolute;
	z-index: 2;
	margin-top: -12px;
	margin-left: -10px;
}

.link2 a {
	position: relative;
	z-index: 1;
}

.link2 sup {	
	padding: 2px 6px 2px 6px;
	position: absolute;
	z-index: 2;
	margin-top: -10px;
	margin-left: -5px;
}

.name a {
	color: #0e334f;
}

.right_col div {
	display: inline-block;
	vertical-align: middle;
}

.login {
	background-color: #f4f4f4;
	text-align: center;
	height: 60px;
	width: 250px;
}

.login span {
	padding-right: 30px;
	font-weight: bold;
}

.login i {
	vertical-align: middle;
}

.login a {
	color: #061f33;
	text-decoration: none;
}

.login :hover {
	background-color: #e84824;
   	left: 0;
  	bottom: 0;
  	margin: 0 auto;	
  	text-align: center;
}

.login a:hover {
	color: #ffffff;
	text-decoration: none;
}

.log {
	padding: 15px 50px 25px 50px;
}

.login :before {
	display: inline-block;
	background: url('../images/sprite.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px; 
	content: ''; 
	text-align: left; 
}

.icon_4:before {background-position: -0px -431px; width: 18px; height: 22px;}
.icon_4:hover:before {background-position: -20px -413px; width: 19px; height: 22px;}

.content {
	background-color: #08273e;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	padding: 15px 20px 15px 20px;
}

.box_2_left {
	float: left;
}

.content a {
	text-decoration: none;
}

.box_2_left a {
	color: #a5aab0;
	padding-right: 10px;
}

.box_2_left img {
	vertical-align: middle;
	padding-right: 5px;
}

.box_2_right {
	float: right;
}

.box_2_right a {
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
}

.content_2 {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: inline-block;
	margin: -4px 0px 10px 0px ;
	color: #ffffff;
}


.box_3_left {
	float: left;
	width: 35%;
	height: 742px;
	background-color: #ffffff;	
}

h1 {
	color: #3d4858;
	text-align: left;
}

.local img {
	vertical-align: middle;
	padding-right: 10px;
}

.local a {
	font-size: 20px;
}

.local p {
	text-align: left;
	font-size: 20px;
	line-height: 0;
	color: #3d4858;
}

.local {
	text-align: left;
}

.persent {
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	padding-top: 30px;
}

.right_persent{
	float: right;
}

.left_persent {
	float: left;
}

.number_1 {
	padding-bottom: 40px;
	text-align: left;
}

.number_1 span {
	text-align: left;
	border: 3px solid #e6e6e6;
	border-radius: 100px;
	padding: 30px 23px 30px 23px ;
	font-weight: bold;
	font-size: 30px;
	color: #6db627;
}

.number_2 {
	padding-bottom: 40px;
	text-align: left;
	padding-right: 40px;
}

.number_2 span {
	text-align: left;
	border: 3px solid #e6e6e6;
	border-radius: 100px;
	padding: 30px 50px 30px 50px ;
	font-weight: bold;
	font-size: 30px;
	color: #e34343;
	text-transform: uppercase;
}

.text {
	font-weight: bold;
	font-size: 20px;
	color: #3d4858;
	text-align: center;
	padding-right: 40px;
}

#text_1 {
	font-size: 20px;
	line-height: 0.5;
	color: #3d4858;
}

#text_2 {
	font-size: 20px;
	font-weight: bold;
	line-height: 0;
	color: #3d4858;
}

td:nth-child(even) {
	font-weight: bold;
	padding-left: 10px;
}

table {
	color: #3d4858;
}


.box_3_right {
	background: url(../images/background_image.png) 100% 30% no-repeat;
    background-size: cover;
	float: right;
	width: 65%;
	margin-top: -2px;
}

.money {
	width: 100%;
}

.money img {
	padding-left: 30px;
	vertical-align: middle;
	padding-right: 30px;
}
.money span {
	vertical-align: middle;
}

.money_circle {
	color: #ffffff;
	font-weight: bold;
	font-size: 25px;
	padding-top: 20px;
}

.plan {
	float: left;
	font-weight: bold;
	font-size: 23px;
	padding-left: 100px;
	padding-top: 20px;
}


.fact_pr {
	margin-right: 20px;
	text-align: left;
	padding-top: 20px;
}

.fact_pr span {
	float: right;
	border: 3px solid #2b4960;
	border-radius: 100px;
	padding: 20px 13px 20px 13px ;
	font-weight: bold;
	font-size: 23px;
	color: #ff5c6a;
	vertical-align: middle;
}

.fact {
	float: right;
	font-weight: bold;
	font-size: 23px;
	padding-right: 220px;
	padding-top: 20px;
	padding-left: 20px;
	text-align: left; 
}

.button_2 div {
	margin-top: 20px;
	margin-bottom: 10px;
	border-top: 2px solid #2b4960;
	border-bottom: 2px solid #2b4960;
}

.button_2_1 {
	float: left;
	width: 49.77%;
	border-right: 1px solid #2b4960;
	padding-bottom: 25px;
	padding-top: 20px;
}

.button_2_1 img {
	padding-left: 50px;
	vertical-align: middle;
	padding-right: 20px;
}
.button_2_1 span {
	padding-right: 15px;
	color: #ffffff;
	font-weight: bold;
	font-size: 25px;
	padding-top: 20px;
	vertical-align: middle;
}

.button_2_1 a {
	text-decoration: none;
}

.button_2_1 b {
	border: 0px solid #4bad41;
	background-color: #4bad41;
	border-radius: 100px;
	padding: 5px 8px 5px 8px;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	vertical-align: middle;
}


.button_2_2{
	float: right;
	width: 50%;
	padding-bottom: 20px;
	padding-top: 20px;
	border-left: 1px solid #2b4960;
}

.button_2_2 img {
	padding-left: 50px;
	vertical-align: middle;
	padding-right: 30px;
}

.button_2_2 span {
	padding-right: 20px;
	color: #ffffff;
	font-weight: bold;
	font-size: 25px;
	padding-top: 20px;
	vertical-align: middle;
}

.button_2_2 a {
	text-decoration: none;
}

.button_2_2 b {
	border: 0px solid #2598cf;
	background-color: #2598cf;
	border-radius: 100px;
	padding: 5px 16px 5px 16px;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	vertical-align: middle;
}

.box {
	padding-left: 100px;
}

.box div {
	display:inline-block;
	width: 19%;
	padding-bottom: 20px;
	padding-right: 40px;
	padding-top: 20px;
	vertical-align: top;
}

.box span {
	font-size: 20px;
	font-weight: bold;
}

.box_3 {
	color: #a6adb5;
}

.box_3 p {
	color: #a6adb5;
	font-weight: bold;
	font-size: 17px;
}

.box_3 img {
	vertical-align: middle;
	padding-right: 10px;
}

.box_1 p {
	color: #7bd971;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
}

.box_1 img {
	vertical-align: middle;
	padding-right: 10px;
}

.box_2 p {
	color: #62cafc;
	font-weight: bold;
	font-size: 17px;
}

.box_2 img {
	vertical-align: middle;
	padding-right: 10px;
}

.project_photo {
	padding-left: 95px;
	margin-bottom: 70px;
}

li {
	list-style-type: none;
}

li img {
	height: 125px;
	width: 185px;
	position: relative;
	z-index: 1;
}

ul.project_photo {
    margin-top: 20px; 
  
}

ul.project_photo li {
    display: inline; 
}

li span{
	position: absolute;
	z-index: 2;
	padding-top: 95px;
	padding-left: 10px;
	font-weight: bold;
}
 
.footer_main {
	background-color: #061f33;
  	bottom: 0;
 	width: 98.8%;
 	height: 40px;
 	text-align: center;
 	padding-top: 10px;
 	z-index: 3;
 	position: fixed;
}

.footer_main :before {
	display: inline-block;
	background: url('../images/sprite.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;    
	content: '';
	text-align: left;
	vertical-align: middle;
}

.footer:before { background-position: -0px -413px; width: 20px; height: 18px;}
.footer:hover:before { background-position: -0px -413px; width: 20px; height: 18px;}


.footer_main a {
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.footer span{
	padding-left: 10px;
}
.footer{
	padding: 10px 559px 20px 559px;
}

.footer_main :hover {
	background-color: #e84824;
 	width: 100%;
 	left: 0;
  	bottom: 0;
  	margin: 0 auto;
 	text-align: center;	
}




